# Copy this file to .env and fill in your values

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

#Azure AI Model Configuration
AZURE_OPENAI_KEY=your-azure-key-here
AZURE_OPENAI_BASE_URL=your-azure-endpoint-here
AZURE_API_VERSION=you-azure-api-version (optional)

#OR (Either Use Azure or Open AI for base models)

#Open AI Configuration
OPENAI_API_KEY=your-openai-api-key-here
OPENAI_BASE_URL=open-ai-base-url (optional)

OPENAI_MODEL_NAME="gpt-5.2" 
EMBEDDING_MODEL_NAME="text-embedding-3-small" 